h1 {
	text-align: center;
	font-family: impact;
	color: navy;
}

#test_status, #test, #restart {
	font-family: fantasy;
	color: navy;
	text-align: center;
	border-radius: 1px solid navy;
	padding: 10px, 40px, 40px, 40px;
}

#begin_quiz {
	max-width: 600px;
    margin-left: 335px;
    margin-top: 60px;
    font-family: fantasy;
	color: navy;
	text-align: center;
	border-radius: 1px solid navy;
	padding: 10px, 40px, 40px, 40px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#correct_answers {
	max-width: 600px;
    margin-left: 335px;
    margin-top: 20px;
    font-family: fantasy;
	color: navy;
	text-align: center;
	border-radius: 1px solid navy;
	padding: 10px, 40px, 40px, 40px;
}